.tweet-header {
	display: flex;
	justify-content: baseline;
	align-items: start;
	
}

.tweet-container {
	border-bottom: 1px solid var(--accent);
	margin-top: 10px;
}

.responseTo {
	margin: -0.7em 1.5em 0.5rem 1.5em;
	font-size: 0.8rem;
	opacity: 0.6;
}

p.date-time {
	margin: 0;
	font-size: 0.7rem;
	flex-basis: 40%;
}

p.content {
	padding: 1em 0;
	margin: 0 0.5em;
}

.name {
	margin: 0 1em;
}

.likes {
	display: grid;
	grid-template-columns: 1fr 1fr 10fr;
	margin-left: 10px;
	margin-bottom: 10px;
}