.primary {
	display: grid;
	grid-template-columns: 20% 60% 20%;
	margin-bottom: 50px;
}

@media only screen and (max-width: 600px) {
	.primary {
		display: flex;
	
		margin-right: 0px;
		margin-left: 0px;
	}

	.left {
		margin-left: 0;
		grid-column: 1;
		padding: 0;
		margin: 0;
	}
}

@media only screen and (max-width: 900px) {
	.right {
		display: none;
	}
}

.left {
	grid-column: 1 / 2;
	max-height: 619px;
	position: sticky;
	top: 0;
}
.right {
	grid-column: 3/ 4;
	margin-left: 20px;
	
}
.right div {
	position: sticky;
	top: 0;
}

.drop-down {
	position: relative;
}
